<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="./img/neymar_icon.ico" />
    <link href="./css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./scripts/setScript.js"></script>
</head>
<body>
    <div class="page">
        <div class="box-header">ALL BETS</div>
        <table>
            <tr>
                <th width="45%" align="left">MATCH</th>
                <th width="10%">RESULT</th>
                <th width="10%">TIP</th>
                <th width="20%">SCORER</th>
                <th width="5%"></th>
                <th width="10%">POINTS</th>
            </tr>
            <tr>
                <td align="left">USA - BRAZÍLIE</td>
                <td>3:1</td>
                <td>1:1</td>
                <td>Neymar J.</td>
                <td>A</td>
                <td><b>+5</b></td>
            </tr>
            <tr>
                <td align="left">ANGLIE - FRANCIE</td>
                <td>5:0</td>
                <td>5:0</td>
                <td>Sturridge D.</td>
                <td>A</td>
                <td><b>+18</b></td>
            </tr>
            <tr>
                <td align="left">ITÁLIE - NĚMECKO</td>
                <td>0:0</td>
                <td>1:3</td>
                <td>Can E.</td>
                <td>-</td>
                <td><b>0</b></td>
            </tr>
        </table>
    </div>
</body>

</html>