<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>NEYMAR | FIFA WORLD CUP 2018</title>
    <link rel="shortcut icon" href="./img/neymar_icon.ico" />
    <link href="./css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./scripts/setScript.js"></script>
</head>
<body class="main">
    <nav>
        <h1 class="brand"><a href="#"><b>NEYMAR | </b>FIFA WORLD CUP 2018</a></h1>
        <ul>
            <li class="category">LEAGUES:</li>
            <li><a href="#">FIFA WORLD CUP 2018</a></li>
            <li><a href="#">NHL</a></li>
            <li class="category">OTHER:</li>
            <li><a href="#">SETTINGS</a></li>
            <li><a href="#">LOG OUT</a></li>
        </ul>
        <div style="clear: both"></div>
    </nav>
    <div class="responsive-bar">
        <h1 class="brand"><a href="#"><b>NEYMAR | </b>FIFA WORLD CUP 2018</a></h1>
        <h4 class="menu"><i class="fa fa-bars" aria-hidden="true"></i></h4>
        <div style="clear: both"></div>
    </div>
    <div class="box">
        <div class="league-bar">
            <!--<h1 class="actual-page"><a href="#"><b>ACTUAL GAME</b></a></h1>-->
            <ul>
                <li><a href="#" class="actual-games">ACTUAL GAMES</a></li>
                <li><a href="#" class="my-bets">MY BETS</a></li>
                <li><a href="#" class="table">TABLE</a></li>
                <li><a href="#" class="all-bets">ALL BETS</a></li>
                <li><a href="#" class="rules">RULES</a></li>
                <li><a href="#" class="settings">SETTINGS</a></li>
            </ul>
            <div style="clear: both"></div>
        </div>
        <div class="league-menu">
            <div class="responsive-league-bar">
                <h1 class="actual-page"><a href="#"><b id="ap-text">ACTUAL GAMES</b></a></h1>
                <h4 ><i class="fa fa-bars" aria-hidden="true"></i></h4>
                <div style="clear: both"></div>
            </div>
        </div>
        <!--<object id="tip-panel" data="tip-panel.html"></object>-->
        <object id="pageBox" data="actualgames.html">
            Your browser doesn’t support the object tag.
        </object>
    </div>
    <footer>&copy 2018 NEYMAR | LNHLFL</footer>
</body>

</html>