<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="./img/neymar_icon.ico" />
    <link href="./css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./scripts/setScript.js"></script>
</head>
<body>
    <div class="page">
        <div class="box-header">LEAGUE TABLE - Thu 26.04.2018 (09:00)</div>
        <table>
            <tr>
                <th width="5%"></th>
                <th width="55%" align="left">NAME</th>
                <th width="20%">POINTS</th>
                <th width="20%">PRICE</th>
            </tr>
            <tr>
                <td align="left" style="background:gold;color:#202020">1.</td>
                <td align="left">MARTIN MIKEL</td>
                <td><b>534</b></td>
                <td>€1100</td>
            </tr>
            <tr>
                <td align="left" style="background:silver;color:#202020">2.</td>
                <td align="left">JAKUB MIKULÁŠEK</td>
                <td><b>297</b></td>
                <td>€700</td>
            </tr>
            <tr>
                <td align="left" style="background:#CD7F32;color:#202020">3.</td>
                <td align="left">VÁCLAV DVORNÍK</td>
                <td><b>294</b></td>
                <td>€400</td>
            </tr>
            <tr>
                <td align="left">4.</td>
                <td align="left">JAROSLAV HAMOUZ</td>
                <td><b>284</b></td>
                <td>€200</td>
            </tr>
            <tr>
                <td align="left">5.</td>
                <td align="left">LUKÁŠ NOVÁK</td>
                <td><b>272</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">6.</td>
                <td align="left">RADEK MIKEL</td>
                <td><b>271</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">7.</td>
                <td align="left">TOMÁŠ BREBIS</td>
                <td><b>255</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">8.</td>
                <td align="left">JAN KOŘENEK</td>
                <td><b>252</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">9.</td>
                <td align="left">PAVEL MIKEL</td>
                <td><b>251</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">10.</td>
                <td align="left">TOMÁŠ VOSLAŘ</td>
                <td><b>232</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">11.</td>
                <td align="left">FILIP BARTOŠ</td>
                <td><b>205</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">12.</td>
                <td align="left">ROMAN TALAŠ</td>
                <td><b>36</b></td>
                <td style="font-size:8px">BEER FOR EVERYONE</td>
            </tr>
        </table>
        <table>
            <tr>
                <th width="5%"></th>
                <th width="55%" align="left">NAME</th>
                <th width="20%">POINTS</th>
                <th width="20%">PRICE</th>
            </tr>
            <tr>
                <td align="left" style="background:gold;color:#202020">1.</td>
                <td align="left">MARTIN MIKEL</td>
                <td><b>534</b></td>
                <td>€1100</td>
            </tr>
            <tr>
                <td align="left" style="background:silver;color:#202020">2.</td>
                <td align="left">JAKUB MIKULÁŠEK</td>
                <td><b>297</b></td>
                <td>€700</td>
            </tr>
            <tr>
                <td align="left" style="background:#CD7F32;color:#202020">3.</td>
                <td align="left">VÁCLAV DVORNÍK</td>
                <td><b>294</b></td>
                <td>€400</td>
            </tr>
            <tr>
                <td align="left">4.</td>
                <td align="left">JAROSLAV HAMOUZ</td>
                <td><b>284</b></td>
                <td>€200</td>
            </tr>
            <tr>
                <td align="left">5.</td>
                <td align="left">LUKÁŠ NOVÁK</td>
                <td><b>272</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">6.</td>
                <td align="left">RADEK MIKEL</td>
                <td><b>271</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">7.</td>
                <td align="left">TOMÁŠ BREBIS</td>
                <td><b>255</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">8.</td>
                <td align="left">JAN KOŘENEK</td>
                <td><b>252</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">9.</td>
                <td align="left">PAVEL MIKEL</td>
                <td><b>251</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">10.</td>
                <td align="left">TOMÁŠ VOSLAŘ</td>
                <td><b>232</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">11.</td>
                <td align="left">FILIP BARTOŠ</td>
                <td><b>205</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td align="left">12.</td>
                <td align="left">ROMAN TALAŠ</td>
                <td><b>36</b></td>
                <td style="font-size:8px">BEER FOR EVERYONE</td>
            </tr>
        </table>
    </div>
</body>

</html>