<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="./img/neymar_icon.ico" />
    <link href="./css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./scripts/setScript.js"></script>
</head>
<body>
    <div class="tip-panel-box">
		<div class="head">
            <b>TIP</b>
        </div>
    <table>
        <tr>
            <th width="13%"></th>
            <th width="35%"></th>
            <th width="4%"></th>
            <th width="35%"></th>
            <th width="13%"></th>
        </tr>
        <tr>
            <td><img style="width:100%" src="./img/flags/pol.jpg"/></td>
            <td class="team-name" align="right">POLSKO</td>
            <td class="team-name">:</td>
            <td class="team-name" align="left">ARGENTINA</td>
            <td><img style="width:100%" src="./img/flags/arg.jpg" /></td>
        </tr>
        <tr>
            <td></td>
            <td class="team-score" align="right"><input type="number" min="0"></td>
            <td class="team-score">:</td>
            <td class="team-score" align="left"><input type="number" min="0"></td>
            <td></td>
        </tr>
    </table>
    </div>
</body>

</html>